p.files {
	text-align: center;
	font-size: 50px;
}

nav {
	background-color: rgba(0, 0, 0, 0.73);
}

nav::after {
	opacity: 0.5;
}

#header .inner p.date {
	font-size: 2em;
	color: white;
	font-weight: bold;
}

.center, .center * {
	text-align: center;
}

.middle {
	margin: auto;
}

header h1 {
	-webkit-text-stroke: 0.4px grey;
}

.underlined {
	text-decoration: underline;
}

/* Results */

.player {
	text-align: center;
}

.score {
	margin-left: 25%;
	margin-top: 10%;
}